header {
	height: 4rem;
	line-height: 4rem;
	width: 100%;
	@include clearfix;
	border-bottom: 1px solid darken($blue4, 5);
	div, nav {
		float: left;
	}
	nav li, div:first-child {
		border-bottom: 1px solid darken($blue4, 5);
	}
	div.logo {
		background-color: $yellow;
		width: 4rem;
		height: 4rem;
		a {
			display: block;
		}
		h1 {
			display: none;
		}
		&::before {
			width: 4rem;
			height: 4rem;
			line-height: 4rem;
			text-align: center;
			display: block;
			font-size: 2rem;
			color: $blue4;
		}
	}
	nav {
		li {
			display: inline-block;
			height: 4rem;
			padding: 0;
			background-color: $blue4;
			border-right: 1px solid $blue4;
			width: 8rem;
			text-align: center;
			cursor: pointer;
			&:hover {
				background-color: darken($blue4, 2);
			}
		}
	}
}






























