$light-grey: 	#f6f6f6;
$borders:		#EEE;

$black-trans: rgba(18, 31, 43, 1);

$red: rgba(195, 5, 24, 1); 
// $blue: rgba(28, 49, 68, 1);
$yellow: rgba(255, 186, 8, 1);
// $blue2: rgba(162, 174, 187, 1);
// $blue3: rgba(63, 136, 197, 1);

$blue1: rgba(85, 91, 110, 1);
$blue2: rgba(139, 168, 183, 1);
$blue3: rgba(196, 216, 226, 1);
$blue4: rgba(250, 249, 249, 1);
$silk: rgba(252, 215, 207, 1);